.git
node_modules
**/node_modules
**/dist
extensions/pi/bundle
.state*
.simulate-*
tmp
coverage
.pi-subagents
.env
.env.*
!.env.example
*.tgz
*.log
.DS_Store
.npmrc
**/.npmrc
.netrc
**/.netrc
.ssh
**/.ssh
.docker/config.json
**/.docker/config.json
.git-credentials
**/.git-credentials
*.p8
**/*.p8
*.pem
**/*.pem
*.key
**/*.key
*.p12
**/*.p12
*.pfx
**/*.pfx
